header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 1rem;
  font-size: 18px;
  background-color: black;
  border-bottom: 1px solid var(--fl-background);
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 63px;
  margin-right: 10px;
}

header .title {
  font-weight: bold;
  color: var(--fl-background);
}

header .navbar {
  display: flex;
}

header .navbar a {
  text-decoration: none;
  color: var(--fl-background);
  position: relative;
  padding: 20px;
  font-weight: bold;
  transition: color 0.5s ease, background-color 0.5s ease;
}

header .navbar a:hover,
header .navbar a:focus {
  color: var(--fl-text);
  background-color: var(--fl-primary);
  border-radius: 1px;
}

header .navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--fl-background);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

header .navbar a:hover::after,
header .navbar a:focus::after {
  transform: scaleX(1);
}
